<apex:page controller="StoreFrontController" tabStyle="Merchandise__c">
<apex:form >
  <apex:pageBlock title="Our Products">
     <apex:pageBlockSection columns="1">
         <apex:commandButton action="{!addToCart}" value="Add to Cart" reRender="shopping_cart"/>
        <apex:pageBlockTable value="{!products}" var="pitem">
            <apex:column headerValue="Product">
               <apex:outputText value="{!pitem.Name}"/>
            </apex:column>
            <apex:column headerValue="Price">
               <apex:outputText value="{!pitem.Price}"/>
            </apex:column>
            <apex:column headerValue="Qty to Buy">
                <apex:inputText value="{!pitem.qtyToBuy}" rendered="{! pitem.inStock}"/>
                <apex:outputText value="Out of Stock" rendered="{! NOT(pitem.inStock)}"/>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlockSection>
  </apex:pageBlock>
  <apex:pageBlock title="Your Cart" id="shopping_cart">
<apex:outputText value="{!cartContents}" escape="false"/>
</apex:pageBlock>
 </apex:form>
</apex:page>